# Overview

Data Acquisition

In this section I am aquiring the data for housing, rental and other needed variables from realty mole api, which is from rapidapi.com
The data comes in the form of a Json, which I converted to a data frame.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from bs4 import BeautifulSoup
import json 
import requests
from datetime import datetime
from datetime import timedelta
from fractions import Fraction
from urllib.request import urlretrieve
import pickle
import openpyxl

import string

Rental listings

In [2]:
import requests

url = "https://realty-mole-property-api.p.rapidapi.com/rentalListings"

querystring = {"state":"CA"}
#As we go through this project we will need to repalce the state with another ex: TX for Texas

headers = {
	"X-RapidAPI-Host": "realty-mole-property-api.p.rapidapi.com",
	"X-RapidAPI-Key": "882636ed38msh5eb3f0c6d1405c7p13774ajsnf6e973ff1b32"
}

r = requests.request("GET", url, headers=headers, params=querystring)

print(r.text)

[{"bathrooms":1,"price":1625,"rawAddress":"1990 Grande Cir, Fairfield, California 94533","county":"Solano County","propertyType":"Apartment","addressLine1":"1990 Grande Cir","city":"Fairfield","state":"CA","zipCode":"94533","formattedAddress":"1990 Grande Cir, Fairfield, CA 94533","lastSeen":"2022-03-30T01:05:41.796Z","listedDate":"2021-06-10T00:51:06.927Z","status":"Active","removedDate":null,"daysOnMarket":294,"createdDate":"2021-06-10T00:51:06.927Z","id":"1990-Grande-Cir,-Fairfield,-CA-94533","latitude":38.264658,"longitude":-122.010464},{"bathrooms":1,"bedrooms":1,"price":1400,"rawAddress":"1220 Dana Dr # A-X, Fairfield, California 94533","county":"Solano County","propertyType":"Apartment","addressLine1":"1220 Dana Dr","addressLine2":"# A-X","city":"Fairfield","state":"CA","zipCode":"94533","formattedAddress":"1220 Dana Dr, # A-X, Fairfield, CA 94533","lastSeen":"2022-03-30T01:05:41.794Z","listedDate":"2021-01-15T01:07:06.566Z","status":"Active","removedDate":null,"daysOnMarket":439,"createdDate":"2020-10-24T02:05:24.196Z","id":"1220-Dana-Dr,---A-X,-Fairfield,-CA-94533","latitude":38.260748,"longitude":-122.04893},{"bathrooms":1,"bedrooms":2,"price":2300,"rawAddress":"119 Kentucky St Unit B, Vallejo, California 94590","squareFootage":1000,"county":"Solano County","propertyType":"Duplex-Triplex","addressLine1":"119 Kentucky St","addressLine2":"Unit B","city":"Vallejo","state":"CA","zipCode":"94590","formattedAddress":"119 Kentucky St, Unit B, Vallejo, CA 94590","lastSeen":"2022-03-30T01:05:41.793Z","listedDate":"2021-09-15T02:13:15.556Z","status":"Active","removedDate":null,"daysOnMarket":196,"createdDate":"2021-09-15T02:13:15.556Z","id":"119-Kentucky-St,-Unit-B,-Vallejo,-CA-94590","latitude":38.10591,"longitude":-122.264121},{"bathrooms":1,"bedrooms":1,"price":995,"rawAddress":"Atwoodville Ct Unit 1, Fairfield, California 94533","squareFootage":350,"county":"Solano County","propertyType":"Apartment","addressLine1":"Atwoodville Ct","addressLine2":"Unit 1","city":"Fairfield","state":"CA","zipCode":"94533","formattedAddress":"Atwoodville Ct, Unit 1, Fairfield, CA 94533","lastSeen":"2022-03-30T01:05:41.793Z","listedDate":"2021-11-01T01:12:47.729Z","status":"Active","removedDate":null,"daysOnMarket":149,"createdDate":"2021-11-01T01:12:47.729Z","id":"Atwoodville-Ct,-Unit-1,-Fairfield,-CA-94533","latitude":38.2946079,"longitude":-122.013856},{"bathrooms":1,"bedrooms":2,"price":2000,"rawAddress":"1333 N Camino Alto # J, Vallejo, California 94589","county":"Solano County","propertyType":"Single Family","addressLine1":"1333 N Camino Alto","addressLine2":"# J","city":"Vallejo","state":"CA","zipCode":"94589","formattedAddress":"1333 N Camino Alto, # J, Vallejo, CA 94589","lastSeen":"2022-03-30T01:05:41.792Z","listedDate":"2022-01-24T01:07:20.344Z","status":"Active","removedDate":null,"daysOnMarket":65,"createdDate":"2022-01-24T01:07:20.344Z","id":"1333-N-Camino-Alto,---J,-Vallejo,-CA-94589","latitude":38.13228,"longitude":-122.242507},{"bathrooms":2,"bedrooms":3,"price":2095,"rawAddress":"312-314 Marin St, Vallejo, California 94590","county":"Solano County","propertyType":"Apartment","addressLine1":"312-314 Marin St","city":"Vallejo","state":"CA","zipCode":"94590","formattedAddress":"312-314 Marin St, Vallejo, CA 94590","lastSeen":"2022-03-30T01:05:41.792Z","listedDate":"2022-02-24T01:22:06.039Z","status":"Active","removedDate":null,"daysOnMarket":34,"createdDate":"2022-02-24T01:22:06.039Z","id":"312-314-Marin-St,-Vallejo,-CA-94590","latitude":38.098507,"longitude":-122.256464},{"bathrooms":1,"bedrooms":2,"price":1750,"rawAddress":"161-167 Kathy Ellen Dr, Vallejo, California 94591","county":"Solano County","propertyType":"Apartment","addressLine1":"161-167 Kathy Ellen Dr","city":"Vallejo","state":"CA","zipCode":"94591","formattedAddress":"161-167 Kathy Ellen Dr, Vallejo, CA 94591","lastSeen":"2022-03-30T01:05:41.791Z","listedDate":"2022-02-17T01:50:52.347Z","status":"Active","removedDate":null,"daysOnMarket":41,"createdDate":"2022-02-17T01:50:52.347Z","id":"161-167-Kathy-Ellen-Dr,-Vallejo,-CA-94591","latitude":38.118864,"longitude":-122.22864},{"bathrooms":2,"bedrooms":2,"price":1950,"rawAddress":"2145 Union Ave, Fairfield, California 94533","county":"Solano County","propertyType":"Apartment","addressLine1":"2145 Union Ave","city":"Fairfield","state":"CA","zipCode":"94533","formattedAddress":"2145 Union Ave, Fairfield, CA 94533","lastSeen":"2022-03-30T01:05:41.787Z","listedDate":"2021-12-11T02:03:59.099Z","status":"Active","removedDate":null,"daysOnMarket":109,"createdDate":"2021-12-11T02:03:59.099Z","id":"2145-Union-Ave,-Fairfield,-CA-94533","latitude":38.268438,"longitude":-122.041077},{"bathrooms":2,"bedrooms":2,"price":2500,"rawAddress":"193 Rainier Cir, Vacaville, California 95687","squareFootage":1160,"county":"Solano County","propertyType":"Single Family","addressLine1":"193 Rainier Cir","city":"Vacaville","state":"CA","zipCode":"95687","formattedAddress":"193 Rainier Cir, Vacaville, CA 95687","lastSeen":"2022-03-30T01:05:41.787Z","listedDate":"2021-05-17T00:33:09.266Z","status":"Active","removedDate":null,"daysOnMarket":318,"createdDate":"2021-05-17T00:33:09.266Z","id":"193-Rainier-Cir,-Vacaville,-CA-95687","latitude":38.364537,"longitude":-121.949475},{"bathrooms":4.5,"bedrooms":4,"price":3600,"rawAddress":"5311 Artisan Way, Fairfield, California 94533","squareFootage":2562,"county":"Solano County","propertyType":"Single Family","addressLine1":"5311 Artisan Way","city":"Fairfield","state":"CA","zipCode":"94533","formattedAddress":"5311 Artisan Way, Fairfield, CA 94533","lastSeen":"2022-03-30T01:05:41.787Z","listedDate":"2022-03-13T01:06:49.649Z","status":"Active","removedDate":null,"daysOnMarket":17,"createdDate":"2022-03-13T01:06:49.649Z","id":"5311-Artisan-Way,-Fairfield,-CA-94533","latitude":38.292166,"longitude":-121.961189},{"bathrooms":2,"bedrooms":3,"price":2750,"rawAddress":"340 Grape St, Vacaville, California 95688","squareFootage":1294,"county":"Solano County","propertyType":"Single Family","addressLine1":"340 Grape St","city":"Vacaville","state":"CA","zipCode":"95688","formattedAddress":"340 Grape St, Vacaville, CA 95688","lastSeen":"2022-03-30T01:05:41.786Z","listedDate":"2022-03-10T02:13:05.401Z","status":"Active","removedDate":null,"daysOnMarket":20,"createdDate":"2022-03-10T02:13:05.401Z","id":"340-Grape-St,-Vacaville,-CA-95688","latitude":38.364024,"longitude":-121.99998},{"bathrooms":2,"price":3125,"rawAddress":"3501 Harbison Dr, Vacaville, California 95687","county":"Solano County","propertyType":"Apartment","addressLine1":"3501 Harbison Dr","city":"Vacaville","state":"CA","zipCode":"95687","formattedAddress":"3501 Harbison Dr, Vacaville, CA 95687","lastSeen":"2022-03-30T01:05:41.786Z","listedDate":"2021-12-11T02:03:59.100Z","status":"Active","removedDate":null,"daysOnMarket":109,"createdDate":"2021-12-11T02:03:59.100Z","id":"3501-Harbison-Dr,-Vacaville,-CA-95687","latitude":38.359745,"longitude":-121.963564},{"bathrooms":2,"bedrooms":3,"price":3700,"rawAddress":"265 W I St, Benicia, California 94510","squareFootage":1600,"county":"Solano County","propertyType":"Single Family","addressLine1":"265 W I St","city":"Benicia","state":"CA","zipCode":"94510","formattedAddress":"265 W I St, Benicia, CA 94510","lastSeen":"2022-03-30T01:05:41.785Z","listedDate":"2021-11-02T00:24:26.670Z","status":"Active","removedDate":null,"daysOnMarket":149,"createdDate":"2020-09-28T00:58:04.224Z","id":"265-W-I-St,-Benicia,-CA-94510","latitude":38.053133,"longitude":-122.16059},{"bathrooms":2,"bedrooms":3,"price":2280,"rawAddress":"416 Corcoran Ave Apt 1, Vallejo, California 94589","county":"Solano County","propertyType":"Single Family","addressLine1":"416 Corcoran Ave","addressLine2":"Apt 1","city":"Vallejo","state":"CA","zipCode":"94589","formattedAddress":"416 Corcoran Ave, Apt 1, Vallejo, CA 94589","lastSeen":"2022-03-30T01:05:41.785Z","listedDate":"2022-03-19T01:48:46.931Z","status":"Active","removedDate":null,"daysOnMarket":11,"createdDate":"2022-03-19T01:48:46.931Z","id":"416-Corcoran-Ave,-Apt-1,-Vallejo,-CA-94589","latitude":38.148951,"longitude":-122.248449},{"bathrooms":2.5,"bedrooms":3,"price":3450,"rawAddress":"421 Carolina St, Vallejo, California 94590","county":"Solano County","propertyType":"Townhouse","addressLine1":"421 Carolina St","city":"Vallejo","state":"CA","zipCode":"94590","formattedAddress":"421 Carolina St, Vallejo, CA 94590","lastSeen":"2022-03-30T01:05:41.785Z","listedDate":"2021-12-01T00:55:07.052Z","status":"Active","removedDate":null,"daysOnMarket":120,"createdDate":"2021-12-01T00:55:07.052Z","squareFootage":1660,"id":"421-Carolina-St,-Vallejo,-CA-94590","latitude":38.103946,"longitude":-122.256904},{"bathrooms":1,"bedrooms":2,"price":1500,"rawAddress":"27 S 3rd St Apt 6, Rio Vista, California 94571","squareFootage":800,"county":"Solano County","propertyType":"Apartment","addressLine1":"27 S 3rd St","addressLine2":"Apt 6","city":"Rio Vista","state":"CA","zipCode":"94571","formattedAddress":"27 S 3rd St, Apt 6, Rio Vista, CA 94571","lastSeen":"2022-03-30T01:05:41.784Z","listedDate":"2021-09-17T00:11:50.060Z","status":"Active","removedDate":null,"daysOnMarket":195,"createdDate":"2021-09-17T00:11:50.060Z","id":"27-S-3rd-St,-Apt-6,-Rio-Vista,-CA-94571","latitude":38.156525,"longitude":-121.692757},{"bathrooms":1,"bedrooms":1,"price":1650,"rawAddress":"256 Brookdale Dr Unit 2, Vacaville, California 95687","squareFootage":386,"county":"Solano County","propertyType":"Apartment","addressLine1":"256 Brookdale Dr","addressLine2":"Unit 2","city":"Vacaville","state":"CA","zipCode":"95687","formattedAddress":"256 Brookdale Dr, Unit 2, Vacaville, CA 95687","lastSeen":"2022-03-30T01:05:41.784Z","listedDate":"2022-03-19T01:48:46.936Z","status":"Active","removedDate":null,"daysOnMarket":11,"createdDate":"2022-03-19T01:48:46.936Z","id":"256-Brookdale-Dr,-Unit-2,-Vacaville,-CA-95687","latitude":38.342819,"longitude":-121.963562},{"bathrooms":1,"bedrooms":2,"price":2100,"rawAddress":"513 1st St Apt 2, Benicia, California 94510","squareFootage":800,"county":"Solano County","propertyType":"Apartment","addressLine1":"513 1st St","addressLine2":"Apt 2","city":"Benicia","state":"CA","zipCode":"94510","formattedAddress":"513 1st St, Apt 2, Benicia, CA 94510","lastSeen":"2022-03-30T01:05:41.783Z","listedDate":"2022-03-01T00:47:58.353Z","status":"Active","removedDate":null,"daysOnMarket":30,"createdDate":"2022-03-01T00:47:58.353Z","id":"513-1st-St,-Apt-2,-Benicia,-CA-94510","latitude":38.048613,"longitude":-122.159885},{"bathrooms":3,"bedrooms":4,"price":3400,"rawAddress":"354 Anchorage Dr, Vacaville, California 95687","county":"Solano County","propertyType":"Single Family","addressLine1":"354 Anchorage Dr","city":"Vacaville","state":"CA","zipCode":"95687","formattedAddress":"354 Anchorage Dr, Vacaville, CA 95687","lastSeen":"2022-03-30T01:05:41.783Z","listedDate":"2022-03-17T00:45:32.410Z","status":"Active","removedDate":null,"daysOnMarket":14,"createdDate":"2022-03-17T00:45:32.410Z","id":"354-Anchorage-Dr,-Vacaville,-CA-95687","latitude":38.328275,"longitude":-121.931609},{"bathrooms":2,"bedrooms":3,"price":3500,"rawAddress":"217 First St, Benicia, California 94510","county":"Solano County","propertyType":"Single Family","addressLine1":"217 First St","city":"Benicia","state":"CA","zipCode":"94510","formattedAddress":"217 First St, Benicia, CA 94510","lastSeen":"2022-03-30T01:05:41.782Z","listedDate":"2022-03-21T01:06:16.896Z","status":"Active","removedDate":null,"daysOnMarket":9,"createdDate":"2022-03-21T01:06:16.896Z","id":"217-First-St,-Benicia,-CA-94510","latitude":38.046365,"longitude":-122.161641},{"bathrooms":1,"bedrooms":2,"price":2300,"rawAddress":"900 Cambridge Dr Unit 74, Benicia, California 94510","squareFootage":1087,"county":"Solano County","propertyType":"Condo","addressLine1":"900 Cambridge Dr","addressLine2":"Unit 74","city":"Benicia","state":"CA","zipCode":"94510","formattedAddress":"900 Cambridge Dr, Unit 74, Benicia, CA 94510","lastSeen":"2022-03-30T01:05:41.781Z","listedDate":"2022-02-08T01:25:42.956Z","status":"Active","removedDate":null,"daysOnMarket":50,"createdDate":"2022-02-08T01:25:42.956Z","id":"900-Cambridge-Dr,-Unit-74,-Benicia,-CA-94510","latitude":38.077207,"longitude":-122.189145},{"bathrooms":1,"price":1475,"rawAddress":"1350 Crowley Ln, Fairfield, California 94533","county":"Solano County","propertyType":"Apartment","addressLine1":"1350 Crowley Ln","city":"Fairfield","state":"CA","zipCode":"94533","formattedAddress":"1350 Crowley Ln, Fairfield, CA 94533","lastSeen":"2022-03-30T01:05:41.780Z","listedDate":"2021-12-18T00:50:47.959Z","status":"Active","removedDate":null,"daysOnMarket":103,"createdDate":"2021-12-18T00:50:47.959Z","id":"1350-Crowley-Ln,-Fairfield,-CA-94533","latitude":38.247497,"longitude":-122.052288},{"bathrooms":1,"bedrooms":2,"price":1900,"rawAddress":"1501 E 4th St, Benicia, California 94510","county":"Solano County","propertyType":"Apartment","addressLine1":"1501 E 4th St","city":"Benicia","state":"CA","zipCode":"94510","formattedAddress":"1501 E 4th St, Benicia, CA 94510","lastSeen":"2022-03-30T01:05:41.780Z","listedDate":"2021-11-04T01:38:29.959Z","status":"Active","removedDate":null,"daysOnMarket":146,"createdDate":"2021-11-04T01:38:29.959Z","id":"1501-E-4th-St,-Benicia,-CA-94510","latitude":38.0541,"longitude":-122.147288},{"bathrooms":1,"bedrooms":2,"price":2150,"rawAddress":"625 Daniels Ave Unit 625, Vallejo, California 94590","squareFootage":783,"county":"Solano County","propertyType":"Condo","addressLine1":"625 Daniels Ave","addressLine2":"Unit 625","city":"Vallejo","state":"CA","zipCode":"94590","formattedAddress":"625 Daniels Ave, Unit 625, Vallejo, CA 94590","lastSeen":"2022-03-30T01:05:41.779Z","listedDate":"2022-03-16T00:32:27.562Z","status":"Active","removedDate":null,"daysOnMarket":15,"createdDate":"2022-03-16T00:32:27.562Z","id":"625-Daniels-Ave,-Unit-625,-Vallejo,-CA-94590","latitude":38.123682,"longitude":-122.266425},{"bathrooms":2.5,"bedrooms":3,"price":3000,"rawAddress":"5018 Brown Ln, Fairfield, California 94533","squareFootage":1845,"county":"Solano County","propertyType":"Single Family","addressLine1":"5018 Brown Ln","city":"Fairfield","state":"CA","zipCode":"94533","formattedAddress":"5018 Brown Ln, Fairfield, CA 94533","lastSeen":"2022-03-30T01:05:41.778Z","listedDate":"2022-03-22T00:12:19.868Z","status":"Active","removedDate":null,"daysOnMarket":9,"createdDate":"2020-10-02T00:07:07.569Z","id":"5018-Brown-Ln,-Fairfield,-CA-94533","latitude":38.293858,"longitude":-121.973019},{"bathrooms":2,"bedrooms":3,"price":2350,"rawAddress":"342 Chelan Dr, Vacaville, California 95687","squareFootage":1296,"county":"Solano County","propertyType":"Single Family","addressLine1":"342 Chelan Dr","city":"Vacaville","state":"CA","zipCode":"95687","formattedAddress":"342 Chelan Dr, Vacaville, CA 95687","lastSeen":"2022-03-30T01:05:41.778Z","listedDate":"2022-02-04T01:30:36.930Z","status":"Active","removedDate":null,"daysOnMarket":54,"createdDate":"2022-02-04T01:30:36.930Z","id":"342-Chelan-Dr,-Vacaville,-CA-95687","latitude":38.35137,"longitude":-121.966755},{"bathrooms":2,"bedrooms":3,"price":2800,"rawAddress":"232 Bowline Dr, Vacaville, California 95687","squareFootage":1296,"county":"Solano County","propertyType":"Single Family","addressLine1":"232 Bowline Dr","city":"Vacaville","state":"CA","zipCode":"95687","formattedAddress":"232 Bowline Dr, Vacaville, CA 95687","lastSeen":"2022-03-30T01:05:41.777Z","listedDate":"2022-03-03T00:06:48.221Z","status":"Active","removedDate":null,"daysOnMarket":28,"createdDate":"2022-03-03T00:06:48.221Z","id":"232-Bowline-Dr,-Vacaville,-CA-95687","latitude":38.348818,"longitude":-121.983878},{"bathrooms":1,"bedrooms":2,"price":1995,"rawAddress":"326 Capitol St, Vallejo, California 94590","county":"Solano County","propertyType":"Apartment","addressLine1":"326 Capitol St","city":"Vallejo","state":"CA","zipCode":"94590","formattedAddress":"326 Capitol St, Vallejo, CA 94590","lastSeen":"2022-03-30T01:05:41.775Z","listedDate":"2022-02-27T01:13:13.162Z","status":"Active","removedDate":null,"daysOnMarket":31,"createdDate":"2020-09-02T00:37:45.802Z","id":"326-Capitol-St,-Vallejo,-CA-94590","latitude":38.10342,"longitude":-122.258934},{"bathrooms":1,"bedrooms":2,"price":2395,"rawAddress":"511 Price Way, Vallejo, California 94591","county":"Solano County","propertyType":"Apartment","addressLine1":"511 Price Way","city":"Vallejo","state":"CA","zipCode":"94591","formattedAddress":"511 Price Way, Vallejo, CA 94591","lastSeen":"2022-03-30T01:05:41.775Z","listedDate":"2022-03-14T00:35:40.212Z","status":"Active","removedDate":null,"daysOnMarket":17,"createdDate":"2022-03-14T00:35:40.212Z","id":"511-Price-Way,-Vallejo,-CA-94591","latitude":38.097782,"longitude":-122.21961},{"bathrooms":1,"bedrooms":1,"price":1400,"rawAddress":"920 Florida St Apt B, Vallejo, California 94590","squareFootage":3109,"county":"Solano County","propertyType":"Apartment","addressLine1":"920 Florida St","addressLine2":"Apt B","city":"Vallejo","state":"CA","zipCode":"94590","formattedAddress":"920 Florida St, Apt B, Vallejo, CA 94590","lastSeen":"2022-03-30T01:05:41.775Z","listedDate":"2022-02-14T01:27:57.550Z","status":"Active","removedDate":null,"daysOnMarket":44,"createdDate":"2022-02-14T01:27:57.550Z","id":"920-Florida-St,-Apt-B,-Vallejo,-CA-94590","latitude":38.105288,"longitude":-122.250998},{"bathrooms":2,"bedrooms":4,"price":2950,"rawAddress":"196 Platt Ct, Vallejo, California 94589","squareFootage":1600,"county":"Solano County","propertyType":"Single Family","addressLine1":"196 Platt Ct","city":"Vallejo","state":"CA","zipCode":"94589","formattedAddress":"196 Platt Ct, Vallejo, CA 94589","lastSeen":"2022-03-30T01:05:41.774Z","listedDate":"2022-03-10T02:13:05.388Z","status":"Active","removedDate":null,"daysOnMarket":20,"createdDate":"2022-03-10T02:13:05.388Z","id":"196-Platt-Ct,-Vallejo,-CA-94589","latitude":38.136135,"longitude":-122.243802},{"price":1550,"rawAddress":"1310 Colusa St, Vallejo, California 94590","county":"Solano County","propertyType":"Apartment","addressLine1":"1310 Colusa St","city":"Vallejo","state":"CA","zipCode":"94590","formattedAddress":"1310 Colusa St, Vallejo, CA 94590","lastSeen":"2022-03-30T01:05:41.774Z","listedDate":"2022-01-14T02:09:54.962Z","status":"Active","removedDate":null,"daysOnMarket":75,"createdDate":"2022-01-14T02:09:54.962Z","bathrooms":1,"bedrooms":1,"id":"1310-Colusa-St,-Vallejo,-CA-94590","latitude":38.111215,"longitude":-122.244436},{"bathrooms":3,"bedrooms":5,"price":4250000,"rawAddress":"3330 Harbor Moon Ct, Vallejo, California 94591","squareFootage":3078,"county":"Solano County","propertyType":"Single Family","addressLine1":"3330 Harbor Moon Ct","city":"Vallejo","state":"CA","zipCode":"94591","formattedAddress":"3330 Harbor Moon Ct, Vallejo, CA 94591","lastSeen":"2022-03-30T01:05:41.773Z","listedDate":"2022-01-20T01:04:33.342Z","status":"Active","removedDate":null,"daysOnMarket":70,"createdDate":"2022-01-20T01:04:33.342Z","id":"3330-Harbor-Moon-Ct,-Vallejo,-CA-94591","latitude":38.129414,"longitude":-122.20377},{"bathrooms":2,"bedrooms":4,"price":2800,"rawAddress":"700 Topsail Dr, Vallejo, California 94591","squareFootage":1430,"county":"Solano County","propertyType":"Single Family","addressLine1":"700 Topsail Dr","city":"Vallejo","state":"CA","zipCode":"94591","formattedAddress":"700 Topsail Dr, Vallejo, CA 94591","lastSeen":"2022-03-30T01:05:41.772Z","listedDate":"2022-03-08T00:11:27.509Z","status":"Active","removedDate":null,"daysOnMarket":23,"createdDate":"2022-03-08T00:11:27.509Z","id":"700-Topsail-Dr,-Vallejo,-CA-94591","latitude":38.072201,"longitude":-122.200229},{"bathrooms":2,"bedrooms":3,"price":3100,"rawAddress":"743 Corte Granada, Vacaville, California 95688","county":"Solano County","propertyType":"Single Family","addressLine1":"743 Corte Granada","city":"Vacaville","state":"CA","zipCode":"95688","formattedAddress":"743 Corte Granada, Vacaville, CA 95688","lastSeen":"2022-03-30T01:05:41.771Z","list

In [3]:
json = r.json()

In [4]:
pd.read_json

<function pandas.io.json._json.read_json(path_or_buf=None, orient=None, typ='frame', dtype: 'DtypeArg | None' = None, convert_axes=None, convert_dates=True, keep_default_dates: 'bool' = True, numpy: 'bool' = False, precise_float: 'bool' = False, date_unit=None, encoding=None, encoding_errors: 'str | None' = 'strict', lines: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', nrows: 'int | None' = None, storage_options: 'StorageOptions' = None)>

In [5]:
json

[{'bathrooms': 1,
  'price': 1625,
  'rawAddress': '1990 Grande Cir, Fairfield, California 94533',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '1990 Grande Cir',
  'city': 'Fairfield',
  'state': 'CA',
  'zipCode': '94533',
  'formattedAddress': '1990 Grande Cir, Fairfield, CA 94533',
  'lastSeen': '2022-03-30T01:05:41.796Z',
  'listedDate': '2021-06-10T00:51:06.927Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 294,
  'createdDate': '2021-06-10T00:51:06.927Z',
  'id': '1990-Grande-Cir,-Fairfield,-CA-94533',
  'latitude': 38.264658,
  'longitude': -122.010464},
 {'bathrooms': 1,
  'bedrooms': 1,
  'price': 1400,
  'rawAddress': '1220 Dana Dr # A-X, Fairfield, California 94533',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '1220 Dana Dr',
  'addressLine2': '# A-X',
  'city': 'Fairfield',
  'state': 'CA',
  'zipCode': '94533',
  'formattedAddress': '1220 Dana Dr, # A-X, Fairfield, CA 94533',
  'lastSeen': '2022-03-30T01:05:41.794Z',
  'listedDate': '2021-01-15T01:07:06.566Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 439,
  'createdDate': '2020-10-24T02:05:24.196Z',
  'id': '1220-Dana-Dr,---A-X,-Fairfield,-CA-94533',
  'latitude': 38.260748,
  'longitude': -122.04893},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 2300,
  'rawAddress': '119 Kentucky St Unit B, Vallejo, California 94590',
  'squareFootage': 1000,
  'county': 'Solano County',
  'propertyType': 'Duplex-Triplex',
  'addressLine1': '119 Kentucky St',
  'addressLine2': 'Unit B',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94590',
  'formattedAddress': '119 Kentucky St, Unit B, Vallejo, CA 94590',
  'lastSeen': '2022-03-30T01:05:41.793Z',
  'listedDate': '2021-09-15T02:13:15.556Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 196,
  'createdDate': '2021-09-15T02:13:15.556Z',
  'id': '119-Kentucky-St,-Unit-B,-Vallejo,-CA-94590',
  'latitude': 38.10591,
  'longitude': -122.264121},
 {'bathrooms': 1,
  'bedrooms': 1,
  'price': 995,
  'rawAddress': 'Atwoodville Ct Unit 1, Fairfield, California 94533',
  'squareFootage': 350,
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': 'Atwoodville Ct',
  'addressLine2': 'Unit 1',
  'city': 'Fairfield',
  'state': 'CA',
  'zipCode': '94533',
  'formattedAddress': 'Atwoodville Ct, Unit 1, Fairfield, CA 94533',
  'lastSeen': '2022-03-30T01:05:41.793Z',
  'listedDate': '2021-11-01T01:12:47.729Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 149,
  'createdDate': '2021-11-01T01:12:47.729Z',
  'id': 'Atwoodville-Ct,-Unit-1,-Fairfield,-CA-94533',
  'latitude': 38.2946079,
  'longitude': -122.013856},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 2000,
  'rawAddress': '1333 N Camino Alto # J, Vallejo, California 94589',
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '1333 N Camino Alto',
  'addressLine2': '# J',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94589',
  'formattedAddress': '1333 N Camino Alto, # J, Vallejo, CA 94589',
  'lastSeen': '2022-03-30T01:05:41.792Z',
  'listedDate': '2022-01-24T01:07:20.344Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 65,
  'createdDate': '2022-01-24T01:07:20.344Z',
  'id': '1333-N-Camino-Alto,---J,-Vallejo,-CA-94589',
  'latitude': 38.13228,
  'longitude': -122.242507},
 {'bathrooms': 2,
  'bedrooms': 3,
  'price': 2095,
  'rawAddress': '312-314 Marin St, Vallejo, California 94590',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '312-314 Marin St',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94590',
  'formattedAddress': '312-314 Marin St, Vallejo, CA 94590',
  'lastSeen': '2022-03-30T01:05:41.792Z',
  'listedDate': '2022-02-24T01:22:06.039Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 34,
  'createdDate': '2022-02-24T01:22:06.039Z',
  'id': '312-314-Marin-St,-Vallejo,-CA-94590',
  'latitude': 38.098507,
  'longitude': -122.256464},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 1750,
  'rawAddress': '161-167 Kathy Ellen Dr, Vallejo, California 94591',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '161-167 Kathy Ellen Dr',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94591',
  'formattedAddress': '161-167 Kathy Ellen Dr, Vallejo, CA 94591',
  'lastSeen': '2022-03-30T01:05:41.791Z',
  'listedDate': '2022-02-17T01:50:52.347Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 41,
  'createdDate': '2022-02-17T01:50:52.347Z',
  'id': '161-167-Kathy-Ellen-Dr,-Vallejo,-CA-94591',
  'latitude': 38.118864,
  'longitude': -122.22864},
 {'bathrooms': 2,
  'bedrooms': 2,
  'price': 1950,
  'rawAddress': '2145 Union Ave, Fairfield, California 94533',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '2145 Union Ave',
  'city': 'Fairfield',
  'state': 'CA',
  'zipCode': '94533',
  'formattedAddress': '2145 Union Ave, Fairfield, CA 94533',
  'lastSeen': '2022-03-30T01:05:41.787Z',
  'listedDate': '2021-12-11T02:03:59.099Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 109,
  'createdDate': '2021-12-11T02:03:59.099Z',
  'id': '2145-Union-Ave,-Fairfield,-CA-94533',
  'latitude': 38.268438,
  'longitude': -122.041077},
 {'bathrooms': 2,
  'bedrooms': 2,
  'price': 2500,
  'rawAddress': '193 Rainier Cir, Vacaville, California 95687',
  'squareFootage': 1160,
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '193 Rainier Cir',
  'city': 'Vacaville',
  'state': 'CA',
  'zipCode': '95687',
  'formattedAddress': '193 Rainier Cir, Vacaville, CA 95687',
  'lastSeen': '2022-03-30T01:05:41.787Z',
  'listedDate': '2021-05-17T00:33:09.266Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 318,
  'createdDate': '2021-05-17T00:33:09.266Z',
  'id': '193-Rainier-Cir,-Vacaville,-CA-95687',
  'latitude': 38.364537,
  'longitude': -121.949475},
 {'bathrooms': 4.5,
  'bedrooms': 4,
  'price': 3600,
  'rawAddress': '5311 Artisan Way, Fairfield, California 94533',
  'squareFootage': 2562,
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '5311 Artisan Way',
  'city': 'Fairfield',
  'state': 'CA',
  'zipCode': '94533',
  'formattedAddress': '5311 Artisan Way, Fairfield, CA 94533',
  'lastSeen': '2022-03-30T01:05:41.787Z',
  'listedDate': '2022-03-13T01:06:49.649Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 17,
  'createdDate': '2022-03-13T01:06:49.649Z',
  'id': '5311-Artisan-Way,-Fairfield,-CA-94533',
  'latitude': 38.292166,
  'longitude': -121.961189},
 {'bathrooms': 2,
  'bedrooms': 3,
  'price': 2750,
  'rawAddress': '340 Grape St, Vacaville, California 95688',
  'squareFootage': 1294,
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '340 Grape St',
  'city': 'Vacaville',
  'state': 'CA',
  'zipCode': '95688',
  'formattedAddress': '340 Grape St, Vacaville, CA 95688',
  'lastSeen': '2022-03-30T01:05:41.786Z',
  'listedDate': '2022-03-10T02:13:05.401Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 20,
  'createdDate': '2022-03-10T02:13:05.401Z',
  'id': '340-Grape-St,-Vacaville,-CA-95688',
  'latitude': 38.364024,
  'longitude': -121.99998},
 {'bathrooms': 2,
  'price': 3125,
  'rawAddress': '3501 Harbison Dr, Vacaville, California 95687',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '3501 Harbison Dr',
  'city': 'Vacaville',
  'state': 'CA',
  'zipCode': '95687',
  'formattedAddress': '3501 Harbison Dr, Vacaville, CA 95687',
  'lastSeen': '2022-03-30T01:05:41.786Z',
  'listedDate': '2021-12-11T02:03:59.100Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 109,
  'createdDate': '2021-12-11T02:03:59.100Z',
  'id': '3501-Harbison-Dr,-Vacaville,-CA-95687',
  'latitude': 38.359745,
  'longitude': -121.963564},
 {'bathrooms': 2,
  'bedrooms': 3,
  'price': 3700,
  'rawAddress': '265 W I St, Benicia, California 94510',
  'squareFootage': 1600,
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '265 W I St',
  'city': 'Benicia',
  'state': 'CA',
  'zipCode': '94510',
  'formattedAddress': '265 W I St, Benicia, CA 94510',
  'lastSeen': '2022-03-30T01:05:41.785Z',
  'listedDate': '2021-11-02T00:24:26.670Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 149,
  'createdDate': '2020-09-28T00:58:04.224Z',
  'id': '265-W-I-St,-Benicia,-CA-94510',
  'latitude': 38.053133,
  'longitude': -122.16059},
 {'bathrooms': 2,
  'bedrooms': 3,
  'price': 2280,
  'rawAddress': '416 Corcoran Ave Apt 1, Vallejo, California 94589',
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '416 Corcoran Ave',
  'addressLine2': 'Apt 1',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94589',
  'formattedAddress': '416 Corcoran Ave, Apt 1, Vallejo, CA 94589',
  'lastSeen': '2022-03-30T01:05:41.785Z',
  'listedDate': '2022-03-19T01:48:46.931Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 11,
  'createdDate': '2022-03-19T01:48:46.931Z',
  'id': '416-Corcoran-Ave,-Apt-1,-Vallejo,-CA-94589',
  'latitude': 38.148951,
  'longitude': -122.248449},
 {'bathrooms': 2.5,
  'bedrooms': 3,
  'price': 3450,
  'rawAddress': '421 Carolina St, Vallejo, California 94590',
  'county': 'Solano County',
  'propertyType': 'Townhouse',
  'addressLine1': '421 Carolina St',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94590',
  'formattedAddress': '421 Carolina St, Vallejo, CA 94590',
  'lastSeen': '2022-03-30T01:05:41.785Z',
  'listedDate': '2021-12-01T00:55:07.052Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 120,
  'createdDate': '2021-12-01T00:55:07.052Z',
  'squareFootage': 1660,
  'id': '421-Carolina-St,-Vallejo,-CA-94590',
  'latitude': 38.103946,
  'longitude': -122.256904},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 1500,
  'rawAddress': '27 S 3rd St Apt 6, Rio Vista, California 94571',
  'squareFootage': 800,
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '27 S 3rd St',
  'addressLine2': 'Apt 6',
  'city': 'Rio Vista',
  'state': 'CA',
  'zipCode': '94571',
  'formattedAddress': '27 S 3rd St, Apt 6, Rio Vista, CA 94571',
  'lastSeen': '2022-03-30T01:05:41.784Z',
  'listedDate': '2021-09-17T00:11:50.060Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 195,
  'createdDate': '2021-09-17T00:11:50.060Z',
  'id': '27-S-3rd-St,-Apt-6,-Rio-Vista,-CA-94571',
  'latitude': 38.156525,
  'longitude': -121.692757},
 {'bathrooms': 1,
  'bedrooms': 1,
  'price': 1650,
  'rawAddress': '256 Brookdale Dr Unit 2, Vacaville, California 95687',
  'squareFootage': 386,
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '256 Brookdale Dr',
  'addressLine2': 'Unit 2',
  'city': 'Vacaville',
  'state': 'CA',
  'zipCode': '95687',
  'formattedAddress': '256 Brookdale Dr, Unit 2, Vacaville, CA 95687',
  'lastSeen': '2022-03-30T01:05:41.784Z',
  'listedDate': '2022-03-19T01:48:46.936Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 11,
  'createdDate': '2022-03-19T01:48:46.936Z',
  'id': '256-Brookdale-Dr,-Unit-2,-Vacaville,-CA-95687',
  'latitude': 38.342819,
  'longitude': -121.963562},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 2100,
  'rawAddress': '513 1st St Apt 2, Benicia, California 94510',
  'squareFootage': 800,
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '513 1st St',
  'addressLine2': 'Apt 2',
  'city': 'Benicia',
  'state': 'CA',
  'zipCode': '94510',
  'formattedAddress': '513 1st St, Apt 2, Benicia, CA 94510',
  'lastSeen': '2022-03-30T01:05:41.783Z',
  'listedDate': '2022-03-01T00:47:58.353Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 30,
  'createdDate': '2022-03-01T00:47:58.353Z',
  'id': '513-1st-St,-Apt-2,-Benicia,-CA-94510',
  'latitude': 38.048613,
  'longitude': -122.159885},
 {'bathrooms': 3,
  'bedrooms': 4,
  'price': 3400,
  'rawAddress': '354 Anchorage Dr, Vacaville, California 95687',
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '354 Anchorage Dr',
  'city': 'Vacaville',
  'state': 'CA',
  'zipCode': '95687',
  'formattedAddress': '354 Anchorage Dr, Vacaville, CA 95687',
  'lastSeen': '2022-03-30T01:05:41.783Z',
  'listedDate': '2022-03-17T00:45:32.410Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 14,
  'createdDate': '2022-03-17T00:45:32.410Z',
  'id': '354-Anchorage-Dr,-Vacaville,-CA-95687',
  'latitude': 38.328275,
  'longitude': -121.931609},
 {'bathrooms': 2,
  'bedrooms': 3,
  'price': 3500,
  'rawAddress': '217 First St, Benicia, California 94510',
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '217 First St',
  'city': 'Benicia',
  'state': 'CA',
  'zipCode': '94510',
  'formattedAddress': '217 First St, Benicia, CA 94510',
  'lastSeen': '2022-03-30T01:05:41.782Z',
  'listedDate': '2022-03-21T01:06:16.896Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 9,
  'createdDate': '2022-03-21T01:06:16.896Z',
  'id': '217-First-St,-Benicia,-CA-94510',
  'latitude': 38.046365,
  'longitude': -122.161641},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 2300,
  'rawAddress': '900 Cambridge Dr Unit 74, Benicia, California 94510',
  'squareFootage': 1087,
  'county': 'Solano County',
  'propertyType': 'Condo',
  'addressLine1': '900 Cambridge Dr',
  'addressLine2': 'Unit 74',
  'city': 'Benicia',
  'state': 'CA',
  'zipCode': '94510',
  'formattedAddress': '900 Cambridge Dr, Unit 74, Benicia, CA 94510',
  'lastSeen': '2022-03-30T01:05:41.781Z',
  'listedDate': '2022-02-08T01:25:42.956Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 50,
  'createdDate': '2022-02-08T01:25:42.956Z',
  'id': '900-Cambridge-Dr,-Unit-74,-Benicia,-CA-94510',
  'latitude': 38.077207,
  'longitude': -122.189145},
 {'bathrooms': 1,
  'price': 1475,
  'rawAddress': '1350 Crowley Ln, Fairfield, California 94533',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '1350 Crowley Ln',
  'city': 'Fairfield',
  'state': 'CA',
  'zipCode': '94533',
  'formattedAddress': '1350 Crowley Ln, Fairfield, CA 94533',
  'lastSeen': '2022-03-30T01:05:41.780Z',
  'listedDate': '2021-12-18T00:50:47.959Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 103,
  'createdDate': '2021-12-18T00:50:47.959Z',
  'id': '1350-Crowley-Ln,-Fairfield,-CA-94533',
  'latitude': 38.247497,
  'longitude': -122.052288},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 1900,
  'rawAddress': '1501 E 4th St, Benicia, California 94510',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '1501 E 4th St',
  'city': 'Benicia',
  'state': 'CA',
  'zipCode': '94510',
  'formattedAddress': '1501 E 4th St, Benicia, CA 94510',
  'lastSeen': '2022-03-30T01:05:41.780Z',
  'listedDate': '2021-11-04T01:38:29.959Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 146,
  'createdDate': '2021-11-04T01:38:29.959Z',
  'id': '1501-E-4th-St,-Benicia,-CA-94510',
  'latitude': 38.0541,
  'longitude': -122.147288},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 2150,
  'rawAddress': '625 Daniels Ave Unit 625, Vallejo, California 94590',
  'squareFootage': 783,
  'county': 'Solano County',
  'propertyType': 'Condo',
  'addressLine1': '625 Daniels Ave',
  'addressLine2': 'Unit 625',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94590',
  'formattedAddress': '625 Daniels Ave, Unit 625, Vallejo, CA 94590',
  'lastSeen': '2022-03-30T01:05:41.779Z',
  'listedDate': '2022-03-16T00:32:27.562Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 15,
  'createdDate': '2022-03-16T00:32:27.562Z',
  'id': '625-Daniels-Ave,-Unit-625,-Vallejo,-CA-94590',
  'latitude': 38.123682,
  'longitude': -122.266425},
 {'bathrooms': 2.5,
  'bedrooms': 3,
  'price': 3000,
  'rawAddress': '5018 Brown Ln, Fairfield, California 94533',
  'squareFootage': 1845,
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '5018 Brown Ln',
  'city': 'Fairfield',
  'state': 'CA',
  'zipCode': '94533',
  'formattedAddress': '5018 Brown Ln, Fairfield, CA 94533',
  'lastSeen': '2022-03-30T01:05:41.778Z',
  'listedDate': '2022-03-22T00:12:19.868Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 9,
  'createdDate': '2020-10-02T00:07:07.569Z',
  'id': '5018-Brown-Ln,-Fairfield,-CA-94533',
  'latitude': 38.293858,
  'longitude': -121.973019},
 {'bathrooms': 2,
  'bedrooms': 3,
  'price': 2350,
  'rawAddress': '342 Chelan Dr, Vacaville, California 95687',
  'squareFootage': 1296,
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '342 Chelan Dr',
  'city': 'Vacaville',
  'state': 'CA',
  'zipCode': '95687',
  'formattedAddress': '342 Chelan Dr, Vacaville, CA 95687',
  'lastSeen': '2022-03-30T01:05:41.778Z',
  'listedDate': '2022-02-04T01:30:36.930Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 54,
  'createdDate': '2022-02-04T01:30:36.930Z',
  'id': '342-Chelan-Dr,-Vacaville,-CA-95687',
  'latitude': 38.35137,
  'longitude': -121.966755},
 {'bathrooms': 2,
  'bedrooms': 3,
  'price': 2800,
  'rawAddress': '232 Bowline Dr, Vacaville, California 95687',
  'squareFootage': 1296,
  'county': 'Solano County',
  'propertyType': 'Single Family',
  'addressLine1': '232 Bowline Dr',
  'city': 'Vacaville',
  'state': 'CA',
  'zipCode': '95687',
  'formattedAddress': '232 Bowline Dr, Vacaville, CA 95687',
  'lastSeen': '2022-03-30T01:05:41.777Z',
  'listedDate': '2022-03-03T00:06:48.221Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 28,
  'createdDate': '2022-03-03T00:06:48.221Z',
  'id': '232-Bowline-Dr,-Vacaville,-CA-95687',
  'latitude': 38.348818,
  'longitude': -121.983878},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 1995,
  'rawAddress': '326 Capitol St, Vallejo, California 94590',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '326 Capitol St',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94590',
  'formattedAddress': '326 Capitol St, Vallejo, CA 94590',
  'lastSeen': '2022-03-30T01:05:41.775Z',
  'listedDate': '2022-02-27T01:13:13.162Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 31,
  'createdDate': '2020-09-02T00:37:45.802Z',
  'id': '326-Capitol-St,-Vallejo,-CA-94590',
  'latitude': 38.10342,
  'longitude': -122.258934},
 {'bathrooms': 1,
  'bedrooms': 2,
  'price': 2395,
  'rawAddress': '511 Price Way, Vallejo, California 94591',
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '511 Price Way',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94591',
  'formattedAddress': '511 Price Way, Vallejo, CA 94591',
  'lastSeen': '2022-03-30T01:05:41.775Z',
  'listedDate': '2022-03-14T00:35:40.212Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 17,
  'createdDate': '2022-03-14T00:35:40.212Z',
  'id': '511-Price-Way,-Vallejo,-CA-94591',
  'latitude': 38.097782,
  'longitude': -122.21961},
 {'bathrooms': 1,
  'bedrooms': 1,
  'price': 1400,
  'rawAddress': '920 Florida St Apt B, Vallejo, California 94590',
  'squareFootage': 3109,
  'county': 'Solano County',
  'propertyType': 'Apartment',
  'addressLine1': '920 Florida St',
  'addressLine2': 'Apt B',
  'city': 'Vallejo',
  'state': 'CA',
  'zipCode': '94590',
  'formattedAddress': '920 Florida St, Apt B, Vallejo, CA 94590',
  'lastSeen': '2022-03-30T01:05:41.775Z',
  'listedDate': '2022-02-14T01:27:57.550Z',
  'status': 'Active',
  'removedDate': None,
  'daysOnMarket': 44,
  'createdDate': '2022-02-14T01:27:57.550Z',
  'id': '920-Florida-St,-Apt-B,-Vallejo,-CA-94590',
  'latitude': 38.105288,
  'longitude': -122.250998},
 {'bathrooms': 2,
  'bedrooms': 4,
  'price': 2950,
  'rawAddress': '196 Platt Ct, Vallejo, California 94589',
  'squareFootage': 1600,

In [6]:
rl = pd.DataFrame(json)

In [7]:
rl.head(10)

,bathrooms,price,rawAddress,county,propertyType,addressLine1,city,state,zipCode,formattedAddress,...,status,removedDate,daysOnMarket,createdDate,id,latitude,longitude,bedrooms,addressLine2,squareFootage
0,1.0,1625,"1990 Grande Cir, Fairfield, California 94533",Solano County,Apartment,1990 Grande Cir,Fairfield,CA,94533,"1990 Grande Cir, Fairfield, CA 94533",...,Active,None,294,2021-06-10T00:51:06.927Z,"1990-Grande-Cir,-Fairfield,-CA-94533",38.264658,-122.010464,NaN,NaN,NaN
1,1.0,1400,"1220 Dana Dr # A-X, Fairfield, California 94533",Solano County,Apartment,1220 Dana Dr,Fairfield,CA,94533,"1220 Dana Dr, # A-X, Fairfield, CA 94533",...,Active,None,439,2020-10-24T02:05:24.196Z,"1220-Dana-Dr,---A-X,-Fairfield,-CA-94533",38.260748,-122.048930,1.0,# A-X,NaN
2,1.0,2300,"119 Kentucky St Unit B, Vallejo, California 94590",Solano County,Duplex-Triplex,119 Kentucky St,Vallejo,CA,94590,"119 Kentucky St, Unit B, Vallejo, CA 94590",...,Active,None,196,2021-09-15T02:13:15.556Z,"119-Kentucky-St,-Unit-B,-Vallejo,-CA-94590",38.105910,-122.264121,2.0,Unit B,1000.0
3,1.0,995,"Atwoodville Ct Unit 1, Fairfield, California 9...",Solano County,Apartment,Atwoodville Ct,Fairfield,CA,94533,"Atwoodville Ct, Unit 1, Fairfield, CA 94533",...,Active,None,149,2021-11-01T01:12:47.729Z,"Atwoodville-Ct,-Unit-1,-Fairfield,-CA-94533",38.294608,-122.013856,1.0,Unit 1,350.0
4,1.0,2000,"1333 N Camino Alto # J, Vallejo, California 94589",Solano County,Single Family,1333 N Camino Alto,Vallejo,CA,94589,"1333 N Camino Alto, # J, Vallejo, CA 94589",...,Active,None,65,2022-01-24T01:07:20.344Z,"1333-N-Camino-Alto,---J,-Vallejo,-CA-94589",38.132280,-122.242507,2.0,# J,NaN
5,2.0,2095,"312-314 Marin St, Vallejo, California 94590",Solano County,Apartment,312-314 Marin St,Vallejo,CA,94590,"312-314 Marin St, Vallejo, CA 94590",...,Active,None,34,2022-02-24T01:22:06.039Z,"312-314-Marin-St,-Vallejo,-CA-94590",38.098507,-122.256464,3.0,NaN,NaN
6,1.0,1750,"161-167 Kathy Ellen Dr, Vallejo, California 94591",Solano County,Apartment,161-167 Kathy Ellen Dr,Vallejo,CA,94591,"161-167 Kathy Ellen Dr, Vallejo, CA 94591",...,Active,None,41,2022-02-17T01:50:52.347Z,"161-167-Kathy-Ellen-Dr,-Vallejo,-CA-94591",38.118864,-122.228640,2.0,NaN,NaN
7,2.0,1950,"2145 Union Ave, Fairfield, California 94533",Solano County,Apartment,2145 Union Ave,Fairfield,CA,94533,"2145 Union Ave, Fairfield, CA 94533",...,Active,None,109,2021-12-11T02:03:59.099Z,"2145-Union-Ave,-Fairfield,-CA-94533",38.268438,-122.041077,2.0,NaN,NaN
8,2.0,2500,"193 Rainier Cir, Vacaville, California 95687",Solano County,Single Family,193 Rainier Cir,Vacaville,CA,95687,"193 Rainier Cir, Vacaville, CA 95687",...,Active,None,318,2021-05-17T00:33:09.266Z,"193-Rainier-Cir,-Vacaville,-CA-95687",38.364537,-121.949475,2.0,NaN,1160.0
9,4.5,3600,"5311 Artisan Way, Fairfield, California 94533",Solano County,Single Family,5311 Artisan Way,Fairfield,CA,94533,"5311 Artisan Way, Fairfield, CA 94533",...,Active,None,17,2022-03-13T01:06:49.649Z,"5311-Artisan-Way,-Fairfield,-CA-94533",38.292166,-121.961189,4.0,NaN,2562.0

In [8]:
rl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         50 non-null     float64
 1   price             50 non-null     int64
 2   rawAddress        50 non-null     object
 3   county            50 non-null     object
 4   propertyType      50 non-null     object
 5   addressLine1      50 non-null     object
 6   city              50 non-null     object
 7   state             50 non-null     object
 8   zipCode           50 non-null     object
 9   formattedAddress  50 non-null     object
 10  lastSeen          50 non-null     object
 11  listedDate        50 non-null     object
 12  status            50 non-null     object
 13  removedDate       0 non-null      object
 14  daysOnMarket      50 non-null     int64
 15  createdDate       50 non-null     object
 16  id                50 non-null     object
 17  latitude          50 non-null     float64
 18  longitude         50 non-null     float64
 19  bedrooms          47 non-null     float64
 20  addressLine2      16 non-null     object
 21  squareFootage     33 non-null     float64
dtypes: float64(5), int64(2), object(15)
memory usage: 8.7+ KB

Now, after aquiring the data that is needed, I will make sure all the data is clean, usable, and in the correct formats.

Starting with the first dataframe

In [9]:
rl.isnull()

,bathrooms,price,rawAddress,county,propertyType,addressLine1,city,state,zipCode,formattedAddress,...,status,removedDate,daysOnMarket,createdDate,id,latitude,longitude,bedrooms,addressLine2,squareFootage
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
6,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
7,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
8,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
11,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,True
12,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
19,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
20,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,True
22,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
23,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
27,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
28,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
29,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
31,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
32,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
33,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
34,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
35,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
36,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
37,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
40,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
41,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
42,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
44,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
45,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
46,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
47,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True

In [10]:
#all of the removedDate data is null, I will remove. I also dont care about LastSeen date.
del rl['removedDate']
del rl['lastSeen']
del rl['createdDate']

In [11]:
rl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         50 non-null     float64
 1   price             50 non-null     int64
 2   rawAddress        50 non-null     object
 3   county            50 non-null     object
 4   propertyType      50 non-null     object
 5   addressLine1      50 non-null     object
 6   city              50 non-null     object
 7   state             50 non-null     object
 8   zipCode           50 non-null     object
 9   formattedAddress  50 non-null     object
 10  listedDate        50 non-null     object
 11  status            50 non-null     object
 12  daysOnMarket      50 non-null     int64
 13  id                50 non-null     object
 14  latitude          50 non-null     float64
 15  longitude         50 non-null     float64
 16  bedrooms          47 non-null     float64
 17  addressLine2      16 non-null     object
 18  squareFootage     33 non-null     float64
dtypes: float64(5), int64(2), object(12)
memory usage: 7.5+ KB

Address line 2, rawAddress, and formattedAddress are redundant with formatted address and square footage is NaN

In [12]:
rl.head()

,bathrooms,price,rawAddress,county,propertyType,addressLine1,city,state,zipCode,formattedAddress,listedDate,status,daysOnMarket,id,latitude,longitude,bedrooms,addressLine2,squareFootage
0,1.0,1625,"1990 Grande Cir, Fairfield, California 94533",Solano County,Apartment,1990 Grande Cir,Fairfield,CA,94533,"1990 Grande Cir, Fairfield, CA 94533",2021-06-10T00:51:06.927Z,Active,294,"1990-Grande-Cir,-Fairfield,-CA-94533",38.264658,-122.010464,NaN,NaN,NaN
1,1.0,1400,"1220 Dana Dr # A-X, Fairfield, California 94533",Solano County,Apartment,1220 Dana Dr,Fairfield,CA,94533,"1220 Dana Dr, # A-X, Fairfield, CA 94533",2021-01-15T01:07:06.566Z,Active,439,"1220-Dana-Dr,---A-X,-Fairfield,-CA-94533",38.260748,-122.048930,1.0,# A-X,NaN
2,1.0,2300,"119 Kentucky St Unit B, Vallejo, California 94590",Solano County,Duplex-Triplex,119 Kentucky St,Vallejo,CA,94590,"119 Kentucky St, Unit B, Vallejo, CA 94590",2021-09-15T02:13:15.556Z,Active,196,"119-Kentucky-St,-Unit-B,-Vallejo,-CA-94590",38.105910,-122.264121,2.0,Unit B,1000.0
3,1.0,995,"Atwoodville Ct Unit 1, Fairfield, California 9...",Solano County,Apartment,Atwoodville Ct,Fairfield,CA,94533,"Atwoodville Ct, Unit 1, Fairfield, CA 94533",2021-11-01T01:12:47.729Z,Active,149,"Atwoodville-Ct,-Unit-1,-Fairfield,-CA-94533",38.294608,-122.013856,1.0,Unit 1,350.0
4,1.0,2000,"1333 N Camino Alto # J, Vallejo, California 94589",Solano County,Single Family,1333 N Camino Alto,Vallejo,CA,94589,"1333 N Camino Alto, # J, Vallejo, CA 94589",2022-01-24T01:07:20.344Z,Active,65,"1333-N-Camino-Alto,---J,-Vallejo,-CA-94589",38.132280,-122.242507,2.0,# J,NaN

In [13]:
del rl['addressLine2']

In [14]:
del rl['rawAddress']

In [15]:
del rl['formattedAddress']

In [16]:
rl.isnull()

,bathrooms,price,county,propertyType,addressLine1,city,state,zipCode,listedDate,status,daysOnMarket,id,latitude,longitude,bedrooms,squareFootage
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
32,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
35,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

Most of sq footage is NaN, will drop

In [17]:
del rl['squareFootage']

ListedDate is not in Datetime, I will convert

In [18]:
rl['listedDate'] = rl['listedDate'].astype(str)

In [19]:
rl['listedDate'] = pd.to_datetime(rl['listedDate'], errors='coerce', format='%d-%m-%Y')

In [20]:
rl.head(10)

,bathrooms,price,county,propertyType,addressLine1,city,state,zipCode,listedDate,status,daysOnMarket,id,latitude,longitude,bedrooms
0,1.0,1625,Solano County,Apartment,1990 Grande Cir,Fairfield,CA,94533,NaT,Active,294,"1990-Grande-Cir,-Fairfield,-CA-94533",38.264658,-122.010464,NaN
1,1.0,1400,Solano County,Apartment,1220 Dana Dr,Fairfield,CA,94533,NaT,Active,439,"1220-Dana-Dr,---A-X,-Fairfield,-CA-94533",38.260748,-122.048930,1.0
2,1.0,2300,Solano County,Duplex-Triplex,119 Kentucky St,Vallejo,CA,94590,NaT,Active,196,"119-Kentucky-St,-Unit-B,-Vallejo,-CA-94590",38.105910,-122.264121,2.0
3,1.0,995,Solano County,Apartment,Atwoodville Ct,Fairfield,CA,94533,NaT,Active,149,"Atwoodville-Ct,-Unit-1,-Fairfield,-CA-94533",38.294608,-122.013856,1.0
4,1.0,2000,Solano County,Single Family,1333 N Camino Alto,Vallejo,CA,94589,NaT,Active,65,"1333-N-Camino-Alto,---J,-Vallejo,-CA-94589",38.132280,-122.242507,2.0
5,2.0,2095,Solano County,Apartment,312-314 Marin St,Vallejo,CA,94590,NaT,Active,34,"312-314-Marin-St,-Vallejo,-CA-94590",38.098507,-122.256464,3.0
6,1.0,1750,Solano County,Apartment,161-167 Kathy Ellen Dr,Vallejo,CA,94591,NaT,Active,41,"161-167-Kathy-Ellen-Dr,-Vallejo,-CA-94591",38.118864,-122.228640,2.0
7,2.0,1950,Solano County,Apartment,2145 Union Ave,Fairfield,CA,94533,NaT,Active,109,"2145-Union-Ave,-Fairfield,-CA-94533",38.268438,-122.041077,2.0
8,2.0,2500,Solano County,Single Family,193 Rainier Cir,Vacaville,CA,95687,NaT,Active,318,"193-Rainier-Cir,-Vacaville,-CA-95687",38.364537,-121.949475,2.0
9,4.5,3600,Solano County,Single Family,5311 Artisan Way,Fairfield,CA,94533,NaT,Active,17,"5311-Artisan-Way,-Fairfield,-CA-94533",38.292166,-121.961189,4.0

In [21]:
del rl['bathrooms']

In [22]:
del rl['bedrooms']

In [23]:
del rl['county']

In [24]:
del rl['zipCode']

In [25]:
del rl['listedDate']

In [26]:
del rl['status']

In [27]:
del rl['daysOnMarket']

In [28]:
del rl['id']

In [29]:
del rl['latitude']

In [30]:
del rl['longitude']

In [31]:
rl.head(10)

   price    propertyType            addressLine1       city state
0   1625       Apartment         1990 Grande Cir  Fairfield    CA
1   1400       Apartment            1220 Dana Dr  Fairfield    CA
2   2300  Duplex-Triplex         119 Kentucky St    Vallejo    CA
3    995       Apartment          Atwoodville Ct  Fairfield    CA
4   2000   Single Family      1333 N Camino Alto    Vallejo    CA
5   2095       Apartment        312-314 Marin St    Vallejo    CA
6   1750       Apartment  161-167 Kathy Ellen Dr    Vallejo    CA
7   1950       Apartment          2145 Union Ave  Fairfield    CA
8   2500   Single Family         193 Rainier Cir  Vacaville    CA
9   3600   Single Family        5311 Artisan Way  Fairfield    CA

# Sales Prices

Loading in our sales price data per city.
Then, will clean and organize the data.

In [32]:
sp = pd.read_csv(r"C:\Users\ptlon\OneDrive\Desktop\sales_city.csv")

In [33]:
sp.head()

   Unnamed: 0  RegionID   RegionName   StateName  SizeRank   2008-03
0           0      6181     New York    New York         1       NaN
1           1     12447  Los Angeles  California         2  507600.0
2           2     39051      Houston       Texas         3  138400.0
3           3     17426      Chicago    Illinois         4  325100.0
4           4      6915  San Antonio       Texas         5  130900.0

In [34]:
sp = sp.rename(columns={'2008-03': 'Sales Price'})

In [35]:
sp

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,Sales Price
0,0,6181,New York,New York,1,NaN
1,1,12447,Los Angeles,California,2,507600.0
2,2,39051,Houston,Texas,3,138400.0
3,3,17426,Chicago,Illinois,4,325100.0
4,4,6915,San Antonio,Texas,5,130900.0
...,...,...,...,...,...,...
3723,3723,40400,Port Bolivar,Texas,3724,NaN
3724,3724,397820,Long Beach Township,New Jersey,3725,NaN
3725,3725,37346,Beech Mountain,North Carolina,3726,NaN
3726,3726,34991,Corolla,North Carolina,3727,NaN
3727,3727,52829,La Vernia,Texas,3728,NaN

In [36]:
del sp['Unnamed: 0']

In [37]:
del sp['RegionID']

In [38]:
sp

               RegionName       StateName  SizeRank  Sales Price
0                New York        New York         1          NaN
1             Los Angeles      California         2     507600.0
2                 Houston           Texas         3     138400.0
3                 Chicago        Illinois         4     325100.0
4             San Antonio           Texas         5     130900.0
...                   ...             ...       ...          ...
3723         Port Bolivar           Texas      3724          NaN
3724  Long Beach Township      New Jersey      3725          NaN
3725       Beech Mountain  North Carolina      3726          NaN
3726              Corolla  North Carolina      3727          NaN
3727            La Vernia           Texas      3728          NaN

[3728 rows x 4 columns]

In [39]:
sp = sp.rename(columns={'RegionName': 'city', 'StateName' : 'state'})

In [40]:
sp

                     city           state  SizeRank  Sales Price
0                New York        New York         1          NaN
1             Los Angeles      California         2     507600.0
2                 Houston           Texas         3     138400.0
3                 Chicago        Illinois         4     325100.0
4             San Antonio           Texas         5     130900.0
...                   ...             ...       ...          ...
3723         Port Bolivar           Texas      3724          NaN
3724  Long Beach Township      New Jersey      3725          NaN
3725       Beech Mountain  North Carolina      3726          NaN
3726              Corolla  North Carolina      3727          NaN
3727            La Vernia           Texas      3728          NaN

[3728 rows x 4 columns]

Now, if we want we can merge the two data sets on city or state.

# Job Growth

In [41]:
jg = pd.read_excel(r"C:\Users\ptlon\OneDrive\Desktop\statistic_id312639_us-job-growth-by-state-2020.xlsx")

In [42]:
jg

                                           Unnamed: 0  Unnamed: 1 Unnamed: 2
0                                                 NaN         NaN        NaN
1                       U.S. job growth by state 2020         NaN        NaN
2   Job growth in the United States from 2019 to 2...         NaN        NaN
3                                                 NaN         NaN        NaN
4                                               Idaho        -0.7       in %
5                                                Utah        -1.6       in %
6                                            Arkansas        -3.0       in %
7                                             Arizona        -3.1       in %
8                                             Montana        -3.1       in %
9                                        South Dakota        -3.4       in %
10                                           Nebraska        -3.7       in %
11                                          Tennessee        -4.0       in %
12                                            Alabama        -4.3       in %
13                                              Texas        -4.3       in %
14                                        Mississippi        -4.3       in %
15                                     North Carolina        -4.3       in %
16                                             Kansas        -4.6       in %
17                                            Georgia        -4.6       in %
18                                           Missouri        -4.8       in %
19                                           Oklahoma        -4.9       in %
20                                     South Carolina        -5.0       in %
21                                           Virginia        -5.0       in %
22                                               Iowa        -5.1       in %
23                                            Florida        -5.2       in %
24                                           Colorado        -5.2       in %
25                                         Washington        -5.3       in %
26                                            Indiana        -5.5       in %
27                                          Wisconsin        -5.7       in %
28                                           Kentucky        -5.7       in %
29                                           Delaware        -6.0       in %
30                                            Wyoming        -6.0       in %
31                                               Ohio        -6.1       in %
32                               District of Columbia        -6.3       in %
33                                              Maine        -6.4       in %
34                                       North Dakota        -6.6       in %
35                                      West Virginia        -6.6       in %
36                                             Oregon        -6.6       in %
37                                      New Hampshire        -6.7       in %
38                                           Maryland        -6.8       in %
39                                         New Mexico        -6.8       in %
40                                          Minnesota        -6.9       in %
41                                           Illinois        -7.1       in %
42                                         California        -7.4       in %
43                                       Pennsylvania        -7.6       in %
44                                        Connecticut        -7.7       in %
45                                          Louisiana        -7.8       in %
46                                         New Jersey        -8.4       in %
47                                             Alaska        -8.7       in %
48                                       Rhode Island        -8.8       in %
49                                      Massachussets        -9.0       in %
50                                           Michigan        -9.2       in %
51                                            Vermont        -9.3       in %
52                                           New York       -10.3       in %
53                                             Nevada       -10.4       in %
54                                             Hawaii       -15.4       in %

Lots of NAN and messy data - Next steps will be data cleaning

In [43]:
del jg['Unnamed: 2']

In [44]:
jg = jg.rename(columns={'Unnamed: 0': 'state'})

In [45]:
jg

                                                state  Unnamed: 1
0                                                 NaN         NaN
1                       U.S. job growth by state 2020         NaN
2   Job growth in the United States from 2019 to 2...         NaN
3                                                 NaN         NaN
4                                               Idaho        -0.7
5                                                Utah        -1.6
6                                            Arkansas        -3.0
7                                             Arizona        -3.1
8                                             Montana        -3.1
9                                        South Dakota        -3.4
10                                           Nebraska        -3.7
11                                          Tennessee        -4.0
12                                            Alabama        -4.3
13                                              Texas        -4.3
14                                        Mississippi        -4.3
15                                     North Carolina        -4.3
16                                             Kansas        -4.6
17                                            Georgia        -4.6
18                                           Missouri        -4.8
19                                           Oklahoma        -4.9
20                                     South Carolina        -5.0
21                                           Virginia        -5.0
22                                               Iowa        -5.1
23                                            Florida        -5.2
24                                           Colorado        -5.2
25                                         Washington        -5.3
26                                            Indiana        -5.5
27                                          Wisconsin        -5.7
28                                           Kentucky        -5.7
29                                           Delaware        -6.0
30                                            Wyoming        -6.0
31                                               Ohio        -6.1
32                               District of Columbia        -6.3
33                                              Maine        -6.4
34                                       North Dakota        -6.6
35                                      West Virginia        -6.6
36                                             Oregon        -6.6
37                                      New Hampshire        -6.7
38                                           Maryland        -6.8
39                                         New Mexico        -6.8
40                                          Minnesota        -6.9
41                                           Illinois        -7.1
42                                         California        -7.4
43                                       Pennsylvania        -7.6
44                                        Connecticut        -7.7
45                                          Louisiana        -7.8
46                                         New Jersey        -8.4
47                                             Alaska        -8.7
48                                       Rhode Island        -8.8
49                                      Massachussets        -9.0
50                                           Michigan        -9.2
51                                            Vermont        -9.3
52                                           New York       -10.3
53                                             Nevada       -10.4
54                                             Hawaii       -15.4

In [46]:
jg['state'] = jg['state'].str.rstrip(string.digits)

In [47]:
jg.head(5)

                                               state  Unnamed: 1
0                                                NaN         NaN
1                          U.S. job growth by state          NaN
2  Job growth in the United States from 2019 to 2...         NaN
3                                                NaN         NaN
4                                              Idaho        -0.7

In [48]:
jg = jg.rename(columns={'Unnamed: 1': 'growth'})

In [49]:
jg.head(5)

                                               state  growth
0                                                NaN     NaN
1                          U.S. job growth by state      NaN
2  Job growth in the United States from 2019 to 2...     NaN
3                                                NaN     NaN
4                                              Idaho    -0.7

In [50]:
jg.isnull()

    state  growth
0    True    True
1   False    True
2   False    True
3    True    True
4   False   False
5   False   False
6   False   False
7   False   False
8   False   False
9   False   False
10  False   False
11  False   False
12  False   False
13  False   False
14  False   False
15  False   False
16  False   False
17  False   False
18  False   False
19  False   False
20  False   False
21  False   False
22  False   False
23  False   False
24  False   False
25  False   False
26  False   False
27  False   False
28  False   False
29  False   False
30  False   False
31  False   False
32  False   False
33  False   False
34  False   False
35  False   False
36  False   False
37  False   False
38  False   False
39  False   False
40  False   False
41  False   False
42  False   False
43  False   False
44  False   False
45  False   False
46  False   False
47  False   False
48  False   False
49  False   False
50  False   False
51  False   False
52  False   False
53  False   False
54  False   False

In [51]:
jg = jg.dropna()

In [52]:
jg.head(10)

           state  growth
4          Idaho    -0.7
5           Utah    -1.6
6       Arkansas    -3.0
7        Arizona    -3.1
8        Montana    -3.1
9   South Dakota    -3.4
10      Nebraska    -3.7
11     Tennessee    -4.0
12       Alabama    -4.3
13         Texas    -4.3

Now, we have another set of data with job growth that can be merged on state

Now we have specific rental data for cities, average sales prices, and job growth. We are getting a better picture of the data we will need.

Now I will use concat and merge to make 1 dataframe that will be able to be used in my EDA

In [53]:
df1= pd.merge(jg, sp, on='state', how='inner')

In [54]:
df1.head()

   state  growth         city  SizeRank  Sales Price
0  Idaho    -0.7        Boise        98     200300.0
1  Idaho    -0.7        Nampa       274     159400.0
2  Idaho    -0.7     Meridian       364     224400.0
3  Idaho    -0.7  Idaho Falls       387          NaN
4  Idaho    -0.7     Caldwell       692          NaN

In [55]:
df1.isnull()

      state  growth   city  SizeRank  Sales Price
0     False   False  False     False        False
1     False   False  False     False        False
2     False   False  False     False        False
3     False   False  False     False         True
4     False   False  False     False         True
...     ...     ...    ...       ...          ...
3585  False   False  False     False         True
3586  False   False  False     False         True
3587  False   False  False     False         True
3588  False   False  False     False         True
3589  False   False  False     False         True

[3590 rows x 5 columns]

In [56]:
df1 = df1.dropna()

In [57]:
df1

       state  growth         city  SizeRank  Sales Price
0      Idaho    -0.7        Boise        98     200300.0
1      Idaho    -0.7        Nampa       274     159400.0
2      Idaho    -0.7     Meridian       364     224400.0
6      Idaho    -0.7   Twin Falls       904     151800.0
7      Idaho    -0.7   Post Falls      1083     198700.0
...      ...     ...          ...       ...          ...
3576  Hawaii   -15.4       Kailua       951     726100.0
3577  Hawaii   -15.4      Kaneohe       982     567000.0
3578  Hawaii   -15.4      Kapolei      1044     504400.0
3579  Hawaii   -15.4         Hilo      1046     286500.0
3582  Hawaii   -15.4  Kailua Kona      1307     466700.0

[1347 rows x 5 columns]

This dataframe now gives us the ability to see each states average sale price, specific cities in those states, and the job growth.

In [58]:
df1.to_csv('Housing')

Now, in order to make comparisons with the rental listing data, I will have to change the states to their abbreviations

In [59]:
dict = {"Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"}

In [60]:
print(dict)

{'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [61]:
df1.replace({"state": dict})

     state  growth         city  SizeRank  Sales Price
0       ID    -0.7        Boise        98     200300.0
1       ID    -0.7        Nampa       274     159400.0
2       ID    -0.7     Meridian       364     224400.0
6       ID    -0.7   Twin Falls       904     151800.0
7       ID    -0.7   Post Falls      1083     198700.0
...    ...     ...          ...       ...          ...
3576    HI   -15.4       Kailua       951     726100.0
3577    HI   -15.4      Kaneohe       982     567000.0
3578    HI   -15.4      Kapolei      1044     504400.0
3579    HI   -15.4         Hilo      1046     286500.0
3582    HI   -15.4  Kailua Kona      1307     466700.0

[1347 rows x 5 columns]

Now, we have all 3 data sets into a dataframe that have been merged by state, and the state's names have been abbreviated.

In [63]:
df1.to_excel('capstone3excel.xlsx', index=False)